<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- plugin.xml

This is a sample plugin descriptor file.
Plugins are individual directories within the plugins root dir.
Each plugin dir must contain a plugin.xml in order to be a valid
plugin
-->

<plugin id="pluginID" name="A Sample Plugin" version="1.0">

	<!-- defaultEvent  [Required]
		This is the event the entry point for the module.
	-->
	<defaultEvent>ehGeneral.dspMain</defaultEvent>

	<!-- Plugin Type [Required]
		Indicates the type of plugin. The valid types are:
		admin: Use this for administrative plugins. They are accessible
			through the admin dashboard and are concerned with server-wide tasks
			or tasks that involve all sites on a server.
		site: Use this for plugins that affect only one site at a time.
			They are accessible through the Site Dashboard.
	-->
	<type>admin</type>	

	<!-- Plugin description [Optional] -->
	<description>This is a sample plugin</description>
	
	<!-- Plugin icon image  [Optional]
		This is an image that will be used to represent the plugin. The path
		to the image must be relative to the directory containing the plugin
	-->
	<iconSrc>images/icon.png</iconSrc>

	<!-- Custom Settings [Optional]
		This section is used to enter custom settings that are available
		to the plugin object -->
	<custom-settings>
		<setting name="some_name">some_value</setting>
	</custom-settings>

</plugin>
